<div class="form form--card">
    <h2 class="form__title">Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form__group">
        <%= f.label :email,
            class: "form__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
            class: "form__label" %>
      </div>

      <div class="form__group">
        <%= f.submit "Resend confirmation instructions",
            class: "form__submit-button,
                    button" %>
      </div>

    <% end %>

    <div class="form__link-group">
      <%= render "devise/shared/links" %>
    </div>
</div>
