<div class="blog">

  <div class="blog-header">
    <h1 class="blog-header__title"><%= link_to @blog.title, @blog %></h1>

    <p class="blog-header__topic"><%= @blog.topic.title %></p>

    <p class="blog-header__date">Published
      <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago.
    </p>
  </div>

  <div>
    <%= markdown @blog.body%>
  </div>

  <div class="blog__comments-container">
    <%= render 'comments/comment_form' %>

    <div class="comments" id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
    </div>
  </div>

    <div class="blog__links">
      <% if logged_in?(:site_admin) %>
        <%= link_to @blog.status.capitalize, toggle_status_blog_path(@blog),
            class: "blog__link" %> //

        <%= link_to 'Edit post', edit_blog_path(@blog),
            class: "blog__link" %> //

        <%= link_to 'Delete post', @blog,
            method: :delete, data: { confirm: 'Are you sure?' },
            class: "blog__link" %> //
      <% end %>
        <%= link_to 'Back to all posts', blogs_path,
            class: "blog__link" %>
    </div>


  </div>
