<p id="notice"><%= notice %></p>

  <div class="blog">

    <div class="blog__header">
      <h1 class="blog__title"><%= link_to @blog.title, @blog %></h1>

      <p class="blog__date">Published
        <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago.
      </p>

      <% if logged_in?(:site_admin) %>
        <div class="blog__admin-links">
          <%= link_to @blog.status.capitalize, toggle_status_blog_path(@blog),
              class: "blog__link" %> //

          <%= link_to 'Edit post', edit_blog_path(@blog),
              class: "blog__link" %> //

          <%= link_to 'Delete post', @blog,
              method: :delete, data: { confirm: 'Are you sure?' },
              class: "blog__link" %>
        </div>
      <% end %>
    </div>

    <p class="blog__body">
      <%= @blog.body%>
    </p>

    <%= render 'comments/comment_form' %>
    <% if @blog.comments.any? %>
      <div class="blog__comments-container">
        <h2 class="blog__comments-header">Comments</h2>
        <div id="comments" data-blog-id="<%= @blog.id %>">
          <%= render @blog.comments %>
        </div>
      </div>
    <% end %>

  </div>
