

<div class="blog">

  <nav class="breadcrumb">
    <%= link_to 'Home', root_path, class: "breadcrumb__item" %>
    <%= link_to 'Blog', blog_path, class: "breadcrumb__item" %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: "breadcrumb__item" %>
    <span class="breadcrumb__item breadcrumb__item--active">
      <%= truncate(@blog.title) %>
    </span>
  </nav>

  <div class="blog-header">
    <h1 class="blog-header__title"><%= link_to @blog.title, @blog %></h1>

    <p class="blog-header__date">Published
      <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago.
    </p>

  </div>

  <div class="blog__body">
    <%= markdown @blog.body%>
  </div>

  <div class="blog__comments-container">
    <%= render 'comments/comment_form' %>

    <div class="comments" id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
    </div>
  </div>

  <div class="blog__links">
    <%= link_to 'Back to all posts', blogs_path,
          class: "blog__link" %>
    <%= render partial: 'blogs/admin_actions', locals: { blog: @blog } %>
  </div>
</div>
