<div class="portfolio">

  <div class="portfolio-column-1">
    <%= image_tag ('mountains.jpeg'), class: 'portfolio__main-image' %>

  <div class="portfolio__link-group">
    <% if logged_in?(:site_admin) %>
    <%= link_to "Edit Portfolio", edit_portfolio_path(@portfolio_item),
        class: "portfolio__link" %> //
    <%= link_to "Delete Portfolio", portfolio_path(@portfolio_item),
        method: :delete, data: { confirm: "Are you sure?" },
        class: "portfolio__link" %> //
    <% end %>

    <%= link_to "Back to Portfolios", portfolios_path,
        class: "portfolio__link" %>
  </div>

  </div>

  <div class="portfolio_column-1">

    <%= image_tag ('mist.jpeg'), class: 'portfolio__thumb-image' %>

    <div class="portfolio__header">
      <h1 class="portfolio__title"><%= @portfolio_item.title %></h1>
      <h2 class="portfolio__subtitle"><%= @portfolio_item.subtitle %></h2>
      <p class="portfolio__date"><%= @portfolio_item.created_at.strftime("%B, %Y") %></p>
    </div>

    <p class="portfolio__body"><%= @portfolio_item.body %></p>

    <div class="portfolio__tech">
      <h1 class="portfolio__tech-title">Technologies used </h2>
      <% @portfolio_item.technologies.each do |t| %>
        <a class="portfolio__tech-name" href="#"><%= t.name %></a>
      <% end %>
    </div>

  </div>

</div>
