<div class="form form--card">
    <h2 class="form__title">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form__group">
        <%= f.label :password, "New password", class: 'form__label' %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off",
            placeholder: "#{@minimum_password_length} characters minimum",
            class: 'form__input' %>
      </div>

      <div class="form__group">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="form__group">
        <%= f.submit "Change my password", class: 'form__submit-button button' %>
      </div>
    <% end %>

    <div class="form__link-group">
      <%= render "devise/shared/links" %>
    </div>
</div>
