<nav class="header header--colored">
  <div class="header__nav header__nav--split">
    <%= link_to image_tag ('logo-dark.png'),
        class: 'logo--small' %>
    <div class="header__login">
      <%= login_helper %>
    </div>
  </div>

  <div class="header__nav">
    <%= link_to "Devcamp Portfolio Blog", root_path,
        class: "header__brand" %>
  </div>

  <div class="header__nav header__nav--tall">
    <%= link_to "Home", root_path,
        class: "header__link" %>

    <%= link_to "About", about_me_path,
        class: "header__link" %>

    <%= link_to "Contact", contact_path,
        class: "header__link" %>

    <%= link_to "Blog", blogs_path,
        class: "header__link
                header__link#{active_class(blogs_path)}" %>

    <%= link_to "Portfolio", portfolios_path,
        class: "header__link" %>
  </div>
</nav>




