<nav class="sidebar sidebar--fixed">

  <h1 class="sidebar__brand">Devcamp Portfolio</h1>
  <p class="sidebar__description">Welcome to my portfolio.</p>

  <div class="sidebar__nav">
    <p class="sidebar__title">Skills</p>
      <ul class="sidebar__list">
        <li><a class="sidebar__link" href="#">Angular</a></li>
        <li><a class="sidebar__link" href="#">Ruby on Rails</a></li>
        <li><a class="sidebar__link
                  sidebar__link--active" href="#">React JS</a></li>
        <li><a class="sidebar__link" href="#">HTML & CSS</a></li>
      </ul>
  </div>

  <div class="sidebar__nav">
    <ul class="sidebar__list">
      <%= nav_helper 'sidebar__link', 'li', 'sidebar__item' %>
      <%= login_helper 'sidebar__link' %>
    </ul>
  </div>

  <div class="sidebar__nav">
    <p class="sidebar__title">Elsewhere</p>
    <div class="sidebar__icon-group">
      <%= link_to (fa_icon "github"), "#",
          class: 'sidebar__icon sidebar__link' %>
      <%= link_to (fa_icon "twitter"), "#",
          class: 'sidebar__icon sidebar__link' %>
      <%= link_to (fa_icon "facebook"), "#",
          class: 'sidebar__icon sidebar__link' %>
      <%= link_to (fa_icon "medium"), "#",
          class: 'sidebar__icon sidebar__link' %>
      <%= link_to (fa_icon "spotify"), "#",
          class: 'sidebar__icon sidebar__link' %>
      <%= link_to (fa_icon "soundcloud"), "#",
          class: 'sidebar__icon sidebar__link' %>
      <%= link_to (fa_icon "qq"), "#",
          class: 'sidebar__icon sidebar__link' %>
      <%= link_to (fa_icon "slideshare"), "#",
          class: 'sidebar__icon sidebar__link' %>
      <%= link_to (fa_icon "instagram"), "#",
          class: 'sidebar__icon sidebar__link' %>
    </div>
  </div>

  <div class="sidebar__nav">
      <%= source_helper("portfolio") %>
  </div>

</nav>
