  <header class="sidebar-content-container">
    <div class="sidebar-content">

      <p class="title">Devcamp Portfolio</p>
      <p class="subtitle">Welcome to my portfolio.</p>

      <div class="nav-list-container">
        <p class="nav-list-title">Skills</p>
        <ul class="nav-list-items">
          <li><a href="#">Angular</a></li>
          <li><a href="#">Ruby on Rails</a></li>
          <li><a class="active" href="#">React JS</a></li>
          <li><a href="#">HTML & CSS</a></li>
        </ul>
      </div>

      <div class="nav-list-container">
        <ul class="nav-list-items">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_me_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Blog", blogs_path %></li>
          <li><%= link_to "Portfolio", portfolios_path %></li>
        </ul>
      </div>

      <div class="nav-list-container">
        <ul class="nav-list-items">
          <li><%= login_helper %></li>
          <li><%= source_helper("application") %></li>
        </ul>
      </div>

    </div>

  </header>
