<div class="sidebar__nav">
  <p class="sidebar__title">Social</p>
  <div class="sidebar__icon-group">
    <%= link_to (fa_icon "github"), "#",
        class: 'sidebar__icon sidebar__link' %>
    <%= link_to (fa_icon "twitter"), "#",
        class: 'sidebar__icon sidebar__link' %>
    <%= link_to (fa_icon "facebook"), "#",
        class: 'sidebar__icon sidebar__link' %>
    <%= link_to (fa_icon "medium"), "#",
        class: 'sidebar__icon sidebar__link' %>
    <%= link_to (fa_icon "spotify"), "#",
        class: 'sidebar__icon sidebar__link' %>
    <%= link_to (fa_icon "soundcloud"), "#",
        class: 'sidebar__icon sidebar__link' %>
  </div>
</div>
