
    <div class="page-container">


<header class="header-content-container">
    <div class="nav-list-container">
      <ul class="nav-list-items">
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_me_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to "Blog", blogs_path %>
        <%= link_to "Portfolio", portfolios_path %>
        <%= login_helper %>
      </ul>
    </div>
</header>

        <div class="hero-content-container">
          <div class="hero-content">
            <%= image_tag ('favicon.png'), class: 'logo' %>
            <p class="title">Devcamp Portfolio</p>
            <p class="subtitle">Welcome to my website.</p>
          </div>
        </div>

      <div class="page-content-container">

        <div class="page-content">
          <%= yield %>
        </div>

        <footer class="footer">
            <%= copyright_generator %>
        </footer>

      </div>

    </div>

<!-- <h1>Welcome <%= current_user.first_name %></h1>
<p></p>

<h1>Blog Posts</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>
 -->
