<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>

    <meta charset="utf-8">
    <meta name="keywords" content="<%= @seo_keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <%= render 'shared/application_nav' %>

        <%= video_tag( 'mountain-1.mp4',
                        id: 'background',
                        loop: true,
                        muted: true ) %>

        <div class="main">
          <%= yield %>
        </div>

      <%= alerts %>

      <%= render 'shared/application_footer' %>

    </div>

  </body>
</html>
